@{
    ViewData["Title"] = "Главная Страница";
}

<div class="text-center">
    <h1>Добро пожаловать в GunStore!</h1>
    <p>Это ваша главная страница.</p>
    <a asp-controller="Guns" asp-action="Index" class="btn btn-primary">Guns</a>
</div>